<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051657052593-v9jun8926ogigvugmrorsho5dbl05im3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051657052593-v9jun8926ogigvugmrorsho5dbl05im3</string>
	<key>API_KEY</key>
	<string>AIzaSyCHHp_Gl7j5iTeTQQ5VFWio5MSK7ryC7QU</string>
	<key>GCM_SENDER_ID</key>
	<string>1051657052593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.speezy.Speezy</string>
	<key>PROJECT_ID</key>
	<string>speezy</string>
	<key>STORAGE_BUCKET</key>
	<string>speezy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051657052593:ios:26e75f38d0526395245d90</string>
	<key>DATABASE_URL</key>
	<string>https://speezy.firebaseio.com</string>
</dict>
</plist>